header,
main {
    width: 70%;
    margin: auto;
}

body {
    font-family: monospace;
}

#game-text {
    color: grey;
    font-size: 24px;
}

#game-text letter {
    position: relative;
}

#cursor {
    width: 1.3px;
    height: 28.6px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
}

.active {
    color: black;
}

.wrong {
  color: red;
}

.hidden {
    display: none;
}

