.hidden {
    display: none;
}

.flex {
    display: flex;
}

.gap-1rem {
    gap: 1rem;
}

.gap-2rem {
    gap: 2rem;
}

.gap-3rem {
    gap: 3rem;
}

.gap-4rem {
    gap: 4rem;
}

.gap-1px {
    gap: 1px;
}

.gap-2px {
    gap: 4px;
}

.gap-3px {
    gap: 3px;
}

.gap-4px {
    gap: 4px;
}

.mb-1rem {
    margin-bottom: 1rem;
}

.grey {
    color: grey;
}

.hover-black:hover {
    color: black;
}

.cursor-pointer {
    cursor: pointer;
}

.mt-1px {
    margin-top: 1px;
}

.mt-2px {
    margin-top: 2px;
}

.mt-3px {
    margin-top: 3px;
}

.mt-4px {
    margin-top: 4px;
}

.mr-1px {
    margin-right: 1px;
}

.mr-2px {
    margin-right: 2px;
}

.mr-3px {
    margin-right: 3px;
}

.mr-4px {
    margin-right: 4px;
}

.mb-1px {
    margin-bottom: 1px;
}

.mb-2px {
    margin-bottom: 2px;
}

.mb-3px {
    margin-bottom: 3px;
}

.mb-4px {
    margin-bottom: 4px;
}

.ml-1px {
    margin-left: 1px;
}

.ml-2px {
    margin-left: 2px;
}

.ml-3px {
    margin-left: 3px;
}

.ml-4px {
    margin-left: 4px;
}
