:root {
    --bg-color: #fff;
    --main-color: #fff;
    --cursor-color: black;
    --sub-color: #f0f0f0;
    --sub-alt-color: #ffffff;
    --text-color: black;
    --inactive-text-color: grey;
    --active-text-color: black;
    --error-color: red;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.btn {
    padding: 0.5rem;
    background-color: var(--sub-color);
}

.btn:hover {
    cursor: pointer;
    color: black;
}

header,
main {
    width: 70%;
    margin: auto;
}

body {
    font-family: monospace;
}

#game-text {
    color: var(--inactive-text-color);
    font-size: 24px;
}

#game-text letter {
    position: relative;
}

#cursor {
    width: 1.3px;
    height: 28.6px;
    background-color: var(--cursor-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
}

.active {
    color: var(--active-text-color);
}

.wrong {
    color: var(--error-color);
}

.wrong-whitespace {
    background-color: var(--error-color);
}

.time-setter {
    color: var(--inactive-text-color);
}

.time-setter:hover {
    cursor: pointer;
}

#active-time-setter {
    color: var(--text-color);
}
